.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
}

.inner {
  display: flex;
  justify-content: space-between;
}
